<h1>Mualliflar Royhati</h1>
<form>
    <input type="text" name="qsoz1" placeholder="Muallif ismini kiriting.."
    {% if qsoz1 %} value="{{qsoz1}}" {% endif %}>
    <button>
        Qidirish
    </button>

</form>


<hr>
<a href="/">Bosh sahifa</a>


{% for muallif in mualliflar %}
 <a href="/mualliflar/{{muallif.id}}/">
<p>
    {{ forloop.counter }}. {{muallif.ism}}
    <a href="/mualliflar/{{muallif.id}}/update/">
        <button>Tahrirlash</button>
</a>
</p>
 </a>
{% endfor %}

<hr>

<h3>Muallif qoshish</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Qoshish</button>
</form>