<h1>{{ talaba.ism }} ma'lumotini tahrirlash </h1>
<hr>
<form method="post">
    {%csrf_token %}
    <label>Ism</label>
    <input type="text" name="ism" value="{{talaba.ism}}">
    <label>Kurs</label>
    <input type="number" name="kurs" value="{{talaba.kurs}}">
    <label>Guruh</label>
    <input type="text" name="guruh" value="{{talaba.guruh}}">
     <br><br>
    <label>Tel</label>
    <input type="text" name="tel" value="{{talaba.tel}}">
    <label>Yosh</label>
    <input type="number" name="yosh" value="{{talaba.yosh}}">
    <label>Kitob soni</label>
    <input type="number" name="kitob_soni" value="{{talaba.kitob_soni}}">
    <br><br>
    <button>Tasdiqlash</button>
</form>